<div id="not-found-page-container" class="not-found-page-container">

    <section class="header-banner ">
        <img
          src="banner-icons/1.png"
          alt="Mabunda Group" 
          class="Mabunda-Group-image responsive"
        />
        <div class="title-name">mabunda group</div>
        <div (click)="redirectToContactUs()" class="btn btn-sm banner-button">
        <fa-icon class="card-icon" [icon]="['fas', 'phone']"></fa-icon>
        get in touch
        </div>
    </section>

    <section class="page-content-description">
      <p class="content-headeig">sorry</p>

      <hr class="content-description-underliner"/>
    </section>

<p>In Cascading Style Sheets, CSS grid layout or CSS grid creates complex responsive web design grid layouts more 
    asily and consistently across browsers. Historically, there have been other methods 
    for controlling web page layout methods, such as tables, floats, and more recently, CSS Flexible Box Layout..
</p>
</div>
