@use '../abstracts' as *;

#home-page-container {

    @include page-container-styles;

    .header-banner  {
        background-image: url('/banners/2.jpg');
        @include header-banner-styles;
    }

    .page-content-description {
     @include page-content-description-styles;
    }

    .content-section { 
        @include content-section-styles;

        .cards-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;

            .card-container {

                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 7px;
                padding: 10px;
                text-align: center;
                min-width: 170px;
                margin: 5px 0;

                .card-image,
                .card-text,
                .card-btn {
                    margin: 8px 0;
                }

                .card-image {
                    height: 40px;
                }

                .card-text {
                    font-weight: bold;
                }

                .card-btn {
                    background-color: brown;
                    border: none;
                    padding: 3px 20px;
                    color: #fff;
                    min-width: 130px;

                    &:hover {
                        background-color: orange;
                    }
                }

                &:hover {
                    box-shadow: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #home-page-container {
        .content-section {
            .cards-container {
                // display: flex;
                flex-direction: column;

                .card-container {
                    .card-btn {
                        padding: 4px 50px;
                    }
                }
            }
        }
    }
}