@use '../abstracts' as *;

#services-page-container {

    @include page-container-styles;

    .header-banner {
        background-image: url('/banners/3.jpg');
        @include header-banner-styles;
    }

    .page-content-description {
        @include page-content-description-styles;
    }

    .content-section {
        @include content-section-styles;

        .cards-container {
            // margin: 8px 15px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 10px;
            margin-top: 10px;


            .card-container {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 7px;
                padding: 15px 35px;
                text-align: center;


                .card-image,
                .card-text,
                .card-btn {
                    margin: 8px 0;
                }

                .card-image {
                    height: 30px;
                }

                .card-text {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: brown;
                }

                .services {
                    padding-bottom: 15px;
                    color: grey;
                }

                &:hover {
                    box-shadow: none;
                    cursor: pointer;
                }
            }
        }
    }

    .page-content-description {
        padding-top: 30px;
        margin: auto;
        max-width: 600px;
        font-size: $global-font-size + 1;
    }
}

@media screen and (max-width: 530px) {

    #services-page-container {
        .content-section {
            .cards-container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (min-width: 531px) and (max-width: 767px) {
    #services-page-container {
        .content-section {
            .cards-container {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}